*{
    transition: all 0.25s;
}
#main-play-area{
    background-image: url('./images/gothamcity2.jpg');
    background-position-x: 0;
    /* width: 400px;*/
    height: 800px; 
    border: 10px solid navy;
    background-size: cover;
    margin: 0%;
    transition: all 0.25s;
    
}

#player-controlled-shooter{
position: relative;
width: 150px;
height: 100px;
/* background-color: white; */
left: 50px;
top: 380px;
width: 250px;
height: 200px;
z-index: 1;
transition: 0s !important;


}

.batarang{
    width: 40px;
    height: 40px;
    position: absolute;
    /* transition: all 0.25s; */
}

body {
    margin : 0;
    overflow: hidden;
    /* transition: all 0.25s; */
}

.enemy{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: right;
    position: absolute;
    /* transition: all 0.25s; */
    
}


.batarang {
    position: absolute;
    box-shadow:
    0 0 20px 20px #fff,  /* inner white */
    20px 20px 20px 20px rgb(251, 255, 2), /* middle magenta */
    0 0 100px 30px rgb(255, 0, 234); /* outer cyan */
    animation: move 1s forwards; 
    

}

@keyframes move {
    0%   { left: 340px; transform: scale(1) rotate(0deg); }
    99% { left: 104vw; opacity: 1;transform: scale(1.5)rotate(2000deg); }
    100% {display:none;}
  }
/* * {
    border : 1px solid red;
} */

#start-button{
    color: pink;
    position: relative;
}